<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426043412316-c285ahqavlu96o670j3m8lqdep65d29t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426043412316-c285ahqavlu96o670j3m8lqdep65d29t</string>
	<key>API_KEY</key>
	<string>AIzaSyA-fRSCZxFhkDh4vg72haEtYxFyPa3FWn0</string>
	<key>GCM_SENDER_ID</key>
	<string>426043412316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mun.Parking-App</string>
	<key>PROJECT_ID</key>
	<string>parkings-a2e34</string>
	<key>STORAGE_BUCKET</key>
	<string>parkings-a2e34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426043412316:ios:4aec46313135ce78b57b99</string>
</dict>
</plist>